@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background: #020617;
}
.container {
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 30px;
  min-height: 500px;
  width: 400px;
  margin: 100px auto;
}
.container .icon {
  position: absolute;
  top: 0;
    left: 50%;
  transform: translate(-50% , -50%);
}
.container .icon img {
  width: 80px;
}
.container h2 {
font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.form input {
  width: 300px;
  padding: 10px;
  border: 1px solid gray;
  outline: none;
  font-size: 16px;
}
.forgot-password{
  width: 300px;
  text-align: right;
  margin-top: 5px ;
  margin-bottom: 20px;
}
.forgot-password a {
  text-decoration: none;
  color: rgb(58, 58, 237);
  font-size: 14px;
}
.forgot-password a:hover {
  text-decoration: underline;
}
.btn button {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
 background: rgb(58, 58, 237);
}
.signup-link {
  margin-top: 20px;
  font-size: 14px;
}
.signup-link a {
  text-decoration: none;
  color: rgb(58, 58, 237);
}