@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background: #020617;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 500px;
  background: white;
  margin: 100px auto;
}
.icon img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container h1 {
  margin: 30px 0px;
  font-size: 30px;
  text-align: center; 
}
.container .input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container .input input{
    height: 40px;
    width: 300px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container .input input:focus{
    outline: none;
    border-color: #007BFF;
}
.container .input button{

    width: 300px;
    height: 40px;

    background: #007BFF;
    color: #fff;

    border: none;
    border-radius: 5px;

    font-size: 16px;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.container .input button:hover{
    background: #0056b3;
}
.login-link {
    margin-top: 20px;
    font-size: 14px;
}
