@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body{
    background: #020617;
}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 400px;
    background: #fff;
    margin: 100px auto;
}
.icon img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    font-size: 24px;
    font-weight: 500;
    margin: 40px;
    text-align: center;
}
.description p{
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}
.input input{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.input input:focus{
    border-color: #007BFF;
    outline: none;
}
.input button{
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.login-link a{
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
}